In [1]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
load_dotenv(override=True)
engine = create_engine(os.environ.get("ALCHEMY_DATABASE_URL"), connect_args={'connect_timeout': 600})

## Query Function

In [2]:
#function definition for running queries
def run_query(query):
    with engine.connect() as connection:
        return pd.read_sql(query, connection)

## Roll Up

In [ ]:
# Roll Up
roll_up_query = """
SELECT D.year, COUNT(G.id) AS total_games 
FROM game_fact_table AS G 
JOIN dimDate D ON G.releaseDate = D.date 
GROUP BY D.year;
"""
roll_up_df = run_query(roll_up_query)
print("Roll Up Query Result")
print(roll_up_df)

## Dice

In [ ]:
# Dice
dice_query = """
SELECT name, price, metacriticScore 
FROM game_fact_table 
WHERE price > 20 AND metacriticScore > 80;
"""
dice_df = run_query(dice_query)
print("Dice Query Result")
print(dice_df)

## Drill Down

In [ ]:
# Drill Down

drill_down_query = """
SELECT G.name AS Game, G.reviews, d.name AS developer 
FROM Game_Fact_Table AS G, developer AS d
INNER JOIN dimDeveloper ON d.groupID = dimDeveloper.dimDeveloperId
WHERE D.name = 'Valve' AND G.reviews !='';
"""

drill_down_df = run_query(drill_down_query)
print("Drill Down Query Result")
print(drill_down_df)

In [3]:
# Drill Down

drill_down_query = """
SELECT G.name AS game, G.price, pu.name AS publisher
FROM Game_Fact_Table AS G, publisher AS pu
INNER JOIN dimPublisher P ON pu.groupID = P.dimPublisherId
WHERE pu.name = 'Ubisoft';
"""

drill_down_df_2 = run_query(drill_down_query)
print("Drill Down Query Result")
print(drill_down_df_2)

Drill Down Query Result
                              game  price publisher
0                   Counter-Strike   9.99   Ubisoft
1                   Counter-Strike   9.99   Ubisoft
2            Team Fortress Classic   4.99   Ubisoft
3            Team Fortress Classic   4.99   Ubisoft
4                    Day of Defeat   4.99   Ubisoft
...                            ...    ...       ...
194815          NET.CRAWL Playtest   0.00   Ubisoft
194816  Food Truck Empire Playtest   0.00   Ubisoft
194817  Food Truck Empire Playtest   0.00   Ubisoft
194818             Carbon Playtest   0.00   Ubisoft
194819             Carbon Playtest   0.00   Ubisoft

[194820 rows x 3 columns]

## Slice

In [ ]:
# Slice
slice_query = """
SELECT name AS game, releaseDate, price 
FROM game_fact_table 
WHERE releaseDate >= '2022-01-01';
"""
slice_df = run_query(slice_query)
print("Slice Query Result")
print(slice_df)

In [4]:
# Slice
slice_query = """
SELECT G.name AS game, G.releaseDate, G.price
FROM Game_Fact_Table AS G
WHERE YEAR(G.releaseDate) = 2023;
"""
slice_df = run_query(slice_query)
print("Slice Query Result")
print(slice_df)

Slice Query Result
                                game releaseDate  price
0       Borderlands Game of the Year  2023-08-31  29.99
1                  the white chamber  2023-09-07   2.99
2                      Minigame Game  2023-02-03  13.49
3                            Caliber  2023-04-12   0.00
4                            SuiCats  2023-10-19   1.99
...                              ...         ...    ...
15537          Missile Wars Playtest  2023-12-22   0.00
15538                  星域商旅 Playtest  2023-12-27   0.00
15539        Dark Age Dinos Playtest  2023-12-22   0.00
15540  The Lab and Dungeons Playtest  2023-12-26   0.00
15541        Locked In Mind Playtest  2023-12-28   0.00

[15542 rows x 3 columns]